<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="/bower_components/foundation/css/normalize.min.css" media="all" />
  <link rel="stylesheet" href="/bower_components/foundation/css/foundation.min.css" media="all" />
  <link rel="stylesheet" href="/css/style.css" media="all" />
</head>
<body>
<script src="bower_components/foundation/js/vendor/modernizr.js"></script>
<script src="bower_components/foundation/js/vendor/jquery.js"></script>
<script src="bower_components/foundation/js/foundation.min.js"></script>
<script src="bower_components/foundation/js/foundation/foundation.alert.js"></script>
<script>
  $(document).foundation();
</script>
</body>
</html>
