/* ------------------------------------------------------
 * main styling section
 * -----------------------------------------------------*/
body, html{
  font-family: 'Lato';
  font-weight: 100;
  font-style: normal;
  position: relative;
}
body{
  width: 100%;
  font-family: 'Open Sans',sans-serif;
  background: #ccc;
  color: #4E5E6A;
  &:not(.page-horizontal-bar):not(.small-sidebar){
    text-align: center;
  }
}
/* ------------------------------------------------------
 * topbar navigation styling section
 * -----------------------------------------------------*/
.top-bar{
  height: 60px;
  line-height: 60px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #fff;
  li{
    &.name{
      height: 60px;
      background: #22baa0;
      position: relative;
      width: 160px;
      display: table;
      h1{
        line-height: 60px;
        font-size: 2rem;
        a{
          -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          color: #fff;
          font-family: 'Lato';
          font-size: 20px;
          text-align: center;
        }
      }
    }
  }
  li{
    &.toggle-topbar{
      span{
        font-size: 1.4em;
      }
    }
  }
  @media only screen and (max-width: 640px){
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  &.expanded{
    margin-top: 0px !important;
  }
  &.scrolled{
    color: #fff;
    li.name{
      h1{
        a{
          color: #fff;
        }
      }
    }
    &>.top-bar-section ul li:not(.has-form) a{
      color: #fff;
    }
  }
}
.top-bar-section{
  ul{
    li{
      padding: 0 15px;
      background: #fff;
      &:not(.has-form){
        a{
          -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          color: #008CBA;
          &:not(.button){
            line-height: 60px;
            position: relative;
            display: block;
            font-size: 0.9em;
            padding: 0;
            background: #fff;
            &:hover{
              background: #fff;
              color: #f47920;
              &:after{
                opacity: 1;
                -webkit-transform: translateY(-2px);
                -ms-transform: translateY(-2px);
                transform: translateY(-2px);
                top: 95%;
              }
            }
            &:after{
              position: absolute;
              top: 100%;
              left: 0;
              width: 100%;
              height: 2px;
              background: #f47920;
              content: '';
              opacity: 0;
              -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
              transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
              -webkit-transform: translateY(5px);
              -ms-transform: translateY(5px);
              transform: translateY(5px);
            } 
            @media only screen and (max-width: 640px){
              line-height: 30px;
              background: rgba(0,0,0, .5);
              text-align: center;
              padding: 10px 0;
            }
          }
        }
      }
      a{
        text-transform: normal;
        &:hover{
          background: transparent;
        }
      }
      @media only screen and (max-width: 640px){
        padding: 0;
      }
    }
  }
}
.contain-to-grid-sticky{
  background: #FFF;
  padding: 0;
  height: 60px;
  z-index: 999;
  border-radius: 0;
  border: none;
  margin: auto;
  -webkit-box-shadow: 0 5px 5px -5px rgba(0,0,0,.1);
  -moz-box-shadow: 0 5px 5px -5px rgba(0,0,0,.1);
  box-shadow: 0 5px 5px -5px rgba(0,0,0,.1);
}

/* ------------------------------------------------------
 * main styling section
 * -----------------------------------------------------*/
.section-sidebar{
  /*padding-top: 60px;*/
  width: 160px;
  display: block;
  z-index: 998;
  float: left;
  height: auto!important;
  overflow: visible!important;
}
.sidebar{
  background: #34425A;
  .sidebar-header{
    clear: both;
    padding: 20px;
    background: #34425A;
  }
  .sidebar-profile{
    overflow: hidden;
    position: relative;
    display: block;
    #profile-menu-link{
      &:before{
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        bottom: 0.5em;
        left: 0.5em;
        content: '';
      }
    }
    span{
      color: #fff;
      font-weight: 600;
      display: block;
      padding: 8px 0 0;
      text-align: center;
      small{
        color: #899dc1;
        padding: 5px 0;
        font-size: 85%;
      }
    }
    img{
      width: 60px;
      display: block;
      margin: 0 auto;
      &.img-circle{
        border-radius: 50%;
        border: 3px solid #22baa0;
      }
    }
  }
  ul{
    &.menu{
      background: #34425A;
      &.accordion-menu{
        padding: 0;
        margin: 0;
        width: 160px;
        color: #fff;
        position: relative;
        display: block;
        li{
          list-style-type: none;
          &>a{
            text-align: center;
          }
          &.active{
            &>a{
              background: #2b384e;
              color: #fff;
            }
          }
          &>a{
            &.arrow{
              &::before{
                width: 10px;
                float: right;
                display: block;
                margin-top: -20px;
                font-size: 16px;
                font-family: 'simple-line-icons';
                height: auto;
                content: "\e606";
                font-weight: 300;
              }
            }
          }
        }
        a{
          text-align: center;
          display: block;
          padding: 15px 18px;
          background: 0 0;
          text-decoration: none;
          font-size: 13px;
          color: #899dc1;
          &:hover{
            background: #2b384e;
            color: #fff;
          }
          span{
            display: inline-block;
            font-size: 20px;
            margin-bottom: 10px;
            position: relative;
            &.arrow{
              &::before{
                width: 10px;
                position: absolute;
                display: block;
                top: 62px;
                right: -50px;
                font-size: 12px;
                font-family: 'simple-line-icons';
                height: auto;
                content: "\e605";
                font-weight: 300;
              }
            }
          }
          p{
            line-height: 1!important;
            margin: 0;
          }
        }
      }
    }
  }
}
